mat-sidenav {
    margin: 16px;
    width: 200px;
    min-width: calc(18vw - 16px);
    border-right: none;
    background: #000000;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


mat-sidenav-content {
    margin-left: 0px !important;
    height: 100vh;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.title {
    color: lightgrey;
}

.subtitle {
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

#row:after {
    content: "";
    display: table;
    clear: both;
}

#sidebar {
    float: left;
    max-width: 18vw;
    height: 100vh;
    background-color: #000000;
    position:fixed;
}


#open-close {
    color: white;
    width: 18vw;
}

.logo3 {
    position:absolute; 
    bottom:10vh;
    left:0;
}

span {
    font-family: Montserrat-Light, "Helvetica Neue", sans-serif; 
}