<div class="studio">
    <h1 class="title is-4 is-size-1-desktop is-size-2-touch">STUDIO</h1>
    <h2 class="subtitle is-6 is-size-5-desktop">
        L’Encre Orage Studio est un studio de tatouage privé crée en 2022 et situé à Forges les bains (91) en région parisienne.
        <br>
        <br>
        <strong>Studio privé</strong>
        <br>
        Permettant de travailler en toute tranquillité avec nos clients et ainsi d’approfondir au mieux les projets de chacun, le studio est fermé au public. Il ne faudra pas hésiter à nous contacter pour tout renseignement ou pour avoir accès aux services de nos tatoueurs via la page contact.
        <br>
        <br>
        <strong>Renseignements</strong>
        <br>
        Après la prise de contact, une fois que toutes les informations sur votre projet auront été transmises à votre tatoueur. Celui-ci vous fera un devis, dès lors le prix sera fixé (pour certains projets il se peut qu’une fourchette de prix vous soit donnée mais celle-ci sera fixe aussi). Une fois la budgétisation accordée avec votre tatoueur, il vous demandera un versement d’arrhes, qui marquera le départ de la création de votre projet. Votre tatoueur reviendra vers vous avec une maquette de votre projet et si celle-ci vous convient vous pourrez alors prendre rendez-vous pour la séance de tatouage. Vous conviendrez alors au début de cette séance des derniers détails sur la taille et l’emplacement.
        <br>
        Pour toute création de projet, un versement d’arrhes correspondant à un minimum de 20% du prix total du tatouage est demandé. En cas d‘annulation ou de report de rendez-vous, les arrhes versées sont perdues (conformément à l’article L.114-1 du code de la consommation)
        <br>
        <br>
        <strong>Créations</strong>
        <br>
        Pour les projets personnalisés nous souhaitons travailler main dans la main avec nos clients. Il se peut alors en fonction des projets, que votre tatoueur souhaite échanger directement avec vous durant le processus créatif. Cela permettra de confirmer la direction prise par celui-ci en collectant votre avis et donc d’enrichir le projet final. C’est pourquoi nous vous demandons d’être réactif et de vérifier vos mails, n’oubliez pas de vérifier dans vos courriers indésirables. Ayez à l’esprit que nos conseils dans la conception de votre tatouage auront toujours pour but de le rendre beau et adapté à votre corps et votre personne.
        <br>
        <br>
        <strong>Préparation de la séance</strong>
        <br>
        Pour préparer au mieux votre séance, nous vous recommandons de suivre à la lettre ces conseils :
        <br>
        – Raser délicatement la future zone tatouée le matin sous la douche avec de la mousse.<br>
        – Ne pas épiler, ni faire de gommage.<br>
        – Bien manger pendant le repas qui précède la séance.<br>
        – Bien dormir la nuit qui précède la séance.<br>
        – Ne pas boire d’alcool, ne pas consommer de stupéfiants ni de médicaments fluidifiants (Ex: Aspirine) dans les 24h qui précèdent la séance.<br>
        – Consulter les risques relatifs au tatouage et les précautions à prendre.<br>
        <br>
        <br>
        <strong>Soins du tatouage</strong>
        <br>
        Après votre séance et l’application d’un pansement, les soins vous seront expliqués à l’oral par votre artiste et une fiche récapitulative vous sera remise.
        <br>
        <div class="link">
            <a href="assets/Cicatrisation.pdf">Voici la Fiche de Cicatrisation.</a>
        </div>
        <br>
        <br>
        <strong>Suivi du tatouage</strong>
        <br>
        Une fois la séance terminée, nous nous rendons disponibles pour toute question concernant la cicatrisation. Il est recommandé de nous envoyer une photo de votre tatouage 2 mois après pour que nous jugions de son état après cicatrisation. Si des retouches sont nécessaires, un nouveau rendez-vous gratuit vous sera proposé.
        <br>
        <br>
        <strong>Éthique</strong>
        <br>
        – Conformément à la réglementation, l’Encre Orage Studio a une salle exclusivement réservée à la réalisation d’actes de tatouage et répondant aux normes en vigueur.<br>
– Conformément à l’article R.1311-3 du code de la santé publique, la formation obligatoire à l’hygiène et la salubrité dans les pratiques de tatouage a été effectuée par chaque artiste du studio auprès d’un organisme agréé et reconnu.<br>
– Les aiguilles et supports d’aiguilles utilisés lors de la séance sont stériles et à usage unique. Les gants, rasoirs, capsules d’encre, abaisses langue, gobelets de rinçage, protections et draps d’examens sont à usage unique.<br>
– Conformément à la réglementation, tous les déchets à risques (aiguilles, rasoirs, compresses, gants, protections, etc…) sont collectés et détruits par un organisme agréé spécialisé.<br>
– Les produits d’entretien et savons utilisés pour le nettoyage de l’atelier et l’hygiène des mains sont adaptés à leurs usages respectifs et correspondent aux normes en vigueur.<br>
– L’environnement de travail (sols, surfaces) ainsi que le matériel non jetable (machines, pissettes, alimentation, câbles) font l’objet d’un nettoyage scrupuleux entre chaque séance avec un produit détergent-désinfectant hospitalier adapté.<br>
    </h2>

</div>