.access {
    margin-left: 25vw;
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-top: 5vh;
    padding-right: 5vw;
}

h1 {
    text-align: center;
    padding-bottom: 4vh;
}

h3 {
    text-align:justify;
    text-align-last: center;
}