<div class="access">
    <h1 class="title is-4 is-size-1-desktop is-size-2-touch">ACCÈS</h1>
    <div class="columns">
        <div class="column">
            <h3 class="subtitle is-6 is-size-5-desktop">
                <strong>ENCRE ORAGE STUDIO</strong><br><br>
                17 rue d’adelaiau<br>
                91470 Forges les bains<br>
                encre.orage.studio@gmail.com<br>
                0675937707<br><br>
                Le studio étant ouvert uniquement sur rendez-vous n'hésitez pas à nous contacter!<br>
            </h3> 
        </div>
        <div class="column">
            <h3 class="subtitle is-6 is-size-5-desktop">
                <strong>Accès en transports de Paris :</strong><br><br>
                Le studio est situé à 40 km de Paris soit, 1h10 en transports de Paris centre.<br>
                Il est possible de s’y rendre en RER puis BUS et ensuite de marcher. Cependant votre tatoueur pourra venir vous chercher à la gare de bus si vous le souhaitez.<br>
                RER B MASSY PALAISEAU > BUS 91.03 MASSY.DOURDAN > GARE AUTOROUTIERE DE BRIIS SOUS FORGES<br>
            </h3> 
        </div>
    </div>

    <iframe
        style="border:0; width : 100%; height: 50vh;"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAjygrz3IWz0YFyGPBqCFZdaD3P0nfibBw&q=17+rue+d+Adelaiau,Forges+les+Bains+France&zoom=16">
    </iframe>
</div>