@import "../node_modules/bulma/bulma.sass";

@font-face {
    font-family: Montserrat-Light;
    src: url(assets/fonts/Montserrat-Light.ttf) format("opentype");
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Montserrat-Light, "Helvetica Neue", sans-serif; 
}

