@import "../node_modules/bulma/bulma.sass";

@font-face {
    font-family: Montserrat-Light;
    src: url(assets/fonts/Montserrat-Light.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(assets/fonts/Montserrat-ExtraLight.ttf) format("opentype");
}

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

body { 
    margin: 0; 
    padding: 0;
    font-family: Montserrat-ExtraLight, "Helvetica Neue", sans-serif; 
}

