<div class=home>
    <div class="presentation">
        <h1 class="title is-4 is-size-1-desktop is-size-2-touch">ENCRE ORAGE STUDIO</h1>
        <h2 class="subtitle is-6 is-size-5-desktop is-size-5-touch">Studio de tatouage privé</h2>
        <h2 class="subtitle is-6 is-size-5-desktop is-size-5-touch">
            17 rue d'Adelaiau <br>
            91470 Forges les Bains - France
        </h2>
        <h3 class="subtitle is-7 is-size-6-desktop is-size-6-touch">uniquement sur rendez-vous*</h3>
    </div>

    <mat-divider></mat-divider>

    <div class="gallery">
    <div class="line" *ngFor="let picture of pictures">
        <img class="img" src={{picture.url}}>
        <img class="img" src={{picture.url2}}>
    </div>
    </div>
</div>